PORT=4000
MONGODB_URI=mongodb+srv://ISA:ISA@isa.4mlofdu.mongodb.net/?appName=ISA
BREVO_API_KEY=your_brevo_api_key_here
EMAIL_TO=indianskatingacademynagpur@gmail.com
EMAIL_FROM_NAME=Indian Skating Academy
EMAIL_FROM_ADDRESS=noreply@indianskatingacademy.in
WHATSAPP_NUMBER=91XXXXXXXXXX
FRONTEND_URL=http://localhost:3000
